<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <% if !micropost.anony %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <% else %>
    <span class="user">Anonymous</span>
  <% end %>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <% if !admin_not_tagged? micropost %>
    <span class "tagdetails">
      Tagged Admin: <%= link_to User.find(micropost.tag).name, User.find(micropost.tag) %>
    </span>
  <% end %>
  <span class="timestamp">
    <%= link_to "Posted", micropost %> <%= time_ago_in_words(micropost.created_at) %> ago.
    
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
    <a href="#" id="show-comment-<%= micropost.id %>" style="float:right"><%= pluralize(micropost.comments.count, "Comment") %></a>
  </span>
  
  
  <div id="comment-<%= micropost.id %>" class="h">
  <% if micropost.comments.any? %>
    <ul class="comments">
      <%= render micropost.comments %>
    </ul>
  <% end %>
  <%= form_for(@comment = Comment.new) do |f| %>
  <div class="cb">
    <span> <%=  f.text_area :content, placeholder: "Make a comment...", id: 'comment-text-area'  %> </span>
    <%= f.hidden_field :micropost_id, :value => micropost.id %>
  </div>
  <span><%= f.submit "Comment", class: "btn btn-primary", id: 'comment-button' %></span>
  <% end %>
  </div>
</li>

<script type="text/javascript">
  $(function() {
    var mid= '<%=micropost.id%>';
  $('a#show-comment-' + mid).click(function(event){
    event.preventDefault();
    $('div#comment-'+mid).toggle();
  });
});
</script>


